quorum_client/node_modules/
.idea/
*.pyc

ip_address_vm
ip_address_quorum_node

db.sqlite3


package-lock.json

result
spendingKey
.vscode/settings.json
.gitignore
.DS_Store
quorum_client/build/contracts/PrescriptionContract.json
quorum_client/build/contracts/Migrations.json
quorum_client/build/contracts/PrescriptionContract.json
quorum_client/build/contracts/Migrations.json
quorum_client/build/contracts/Migrations.json
quorum_client/build/contracts/PrescriptionContract.json
indy-tails-server
pharmacy/connection_pharmacy
pharmacy/connection_pharmacy
3nodes/genesis.json
3nodes/passwords.txt
3nodes/permissioned-nodes.json
3nodes/keys/key1
3nodes/keys/key2
3nodes/keys/key3
3nodes/keys/key4
3nodes/keys/key5
3nodes/keys/tm1.key
3nodes/keys/tm1.pub
3nodes/keys/tm1a.key
3nodes/keys/tm1a.pub
3nodes/keys/tm2.key
3nodes/keys/tm2.pub
3nodes/keys/tm2a.key
3nodes/keys/tm2a.pub
3nodes/keys/tm3.key
3nodes/keys/tm3.pub
3nodes/keys/tm3a.key
3nodes/keys/tm3a.pub
3nodes/keys/tm4.key
3nodes/keys/tm4.pub
3nodes/keys/tm4a.key
3nodes/keys/tm4a.pub
3nodes/keys/tm5.key
3nodes/keys/tm5.pub
3nodes/keys/tm5a.key
3nodes/keys/tm5a.pub
3nodes/raft/nodekey1
3nodes/raft/nodekey2
3nodes/raft/nodekey3
pharmacy/Untitled-1.ipynb
