[submodule "aries-cloudagent-python"]
	path = aries-cloudagent-python
	url = https://github.com/hyperledger/aries-cloudagent-python
[submodule "TailsFiles"]
	path = TailsFiles
	url = https://github.com/prescriptionMaster/TailsFiles.git
[submodule "indy-tails-server"]
	path = indy-tails-server
	url = https://github.com/bcgov/indy-tails-server
[submodule "von-network"]
	path = von-network
	url = https://github.com/bcgov/von-network.git
