{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<div class="card-header">
    <h1 class="card-title">Patients Overview<br></h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Connection</h6>
      </div>
      <div class="card-body">
        The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
        </br></br>
        <a href="{% url 'doctor-connection' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Request Proof</h6>
      </div>
      <div class="card-body">
        The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
        </br></br>
        <a href="{% url 'doctor-patients' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Revoke ePrescription</h6>
      </div>
      <div class="card-body">
        The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
        </br></br>
        <a href="{% url 'doctor-revoke_cred' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
</div>
    {% block extracontent %}{% endblock %}
{% endblock %}
