{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="card-header">
    <h1 class="card-title">Doctor Application<br></h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Connection</h6>
      </div>
      <div class="card-body">
        Invites your patient to show his insurance-ID and create a connection between your agents.
        </br></br>
        <a href="{% url 'doctor-connection' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Patients Overview</h6>
      </div>
      <div class="card-body">
          Gives an overview about the patients and links to the ePrescriptions issue function.  
        </br></br>
        <a href="{% url 'doctor-patients' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Revoke ePrescription</h6>
      </div>
      <div class="card-body">
        Revoke an issued ePrescription and prevent using it.
        </br></br></br>
        <a href="{% url 'doctor-revoke_cred' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
</div>
    {% block extracontent %}{% endblock %}
{% endblock %}
