{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container-xl">
  <h1 class="card-title">Doctor Application<br></h1>
</div>
<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Connection</h6>
      </div>
      <div class="card-body d-flex flex-column">
        Invites your patient to show his Insurance-ID and create a connection between your agents. 
        </br></br>
        <a href="{% url 'doctor-connection' %}" class="btn mt-3 btn-block btn-primary">Go</a>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Patient Overview</h6>
      </div>
      <div class="card-body d-flex flex-column">
          Gives you the opportunity to issue an ePresiption to your patients.  
        <a href="{% url 'doctor-patients' %}" class="btn btn-block btn-primary mt-auto">Go</a>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Revoke ePrescription</h6>
      </div>
      <div class="card-body d-flex flex-column">
        Revoke an issued ePrescription and prevent using it.
        <a href="{% url 'doctor-revoke_cred' %}" class="btn btn-block btn-primary mt-auto">Go</a>
      </div>
    </div>
  </div>
</div>

    {% block extracontent %}{% endblock %}
{% endblock %}
