{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    {% if available_schema %}
        <h5 style="color: darkred">There are no suitable schemas or credential definitions in your wallet. To issue a credential, please go back and publish new ones first.</h5><br>
        <button style="width: 700px" class="button" onclick="window.location.href='{% url 'doctor-schema' %}';">Go Back</button><br><br>
    {% elif available_cred_def %}
        <h5 style="color: darkred">There are no suitable credential definitions in your wallet or on the ledger. To issue a credential, publish a new credential definition first.</h5><br>
        <button style="width: 700px" class="button" onclick="window.location.href='{% url 'doctor-cred_def' %}';">Go Back</button><br><br>
    {% elif rev_reg %}
        <h5 style="color: darkred">There are no suitable revocation registries. To issue a credential, publish a new revocation registry.</h5><br>
        <button style="width: 700px" class="button" onclick="window.location.href='{% url 'doctor-rev_reg' %}';">Go Back</button><br><br>
    {% else %}
        <div class="col-md-12">
            <div class="card shadow mb-8">
                <div class="card-header">
                     <h1 class="card-title">Issue ePrescription<br></h1>
                 </div>
                <div class="card-body">
                    {% if name %}

                        <div classs="container p-5">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Sucess!</strong> Thre credential has been issued to {{ name }}!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-group">
                        <form action="." method="post">{% csrf_token %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Patient</h5>
                                    <div class="row">
                                        <div class="col-5">
                                            Fullname
                                        </div>
                                        <div class="col-7">
                                            {{ object.firstname }} {{ object.lastname }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Birthday
                                        </div>
                                        <div class="col-7">
                                            {{ object.birthday }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Addresss
                                        </div>
                                        <div class="col-7">
                                            {{ object.street }}</br>
                                            {{ object.zip_code }} {{ object.city }}
                                        </div>
                                    </div>                            
                                    <div class="row">
                                        <div class="col-5">
                                            Insurance company
                                        </div>
                                        <div class="col-7">
                                            {{ object.insurance_company }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Insurance-ID
                                        </div>
                                        <div class="col-7">
                                            {{ object.insurance_id }}
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Doctor</h5>
                                    <div class="row">
                                        <div class="col-5">
                                            Fullname
                                        </div>
                                        <div class="col-7">
                                            {{ form.doctor_fullname }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Doctor's Type
                                        </div>
                                        <div class="col-7">
                                            {{ form.doctor_type }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Addresss
                                        </div>
                                        <div class="col-7">
                                            {{ form.doctor_address }}
                                        </div>
                                    </div>                            
                                    <div class="row">
                                        <div class="col-5">
                                            Doctor's ID
                                        </div>
                                        <div class="col-7">
                                            XYZ
                                        </div>
                            </div>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <label for='{{ form.pharmaceutical }}'>Pharmaceutical :</label><br>
                                {{ form.pharmaceutical }}<br><br>
                                <label for='{{ form.number }}'>Number:</label><br>
                                {{ form.number }}<br><br>
                                <label for='{{ form.expiration }}'>Expiration:</label><br>
                                {{ form.expiration }}<br><br>

                            </td>
                        </tr>
                        <tr>
                            <td>PRESCRIPTION-ID</td>
                        </tr>
                        <tr>
                            <td>PRESCRIPTION-ID</td>
                        </tr>
                </table>
                <button class="button btn btn-primary" type="submit" value="save">Issue ePrescription (Credential + Token)</button><br>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}