{% extends 'base.html' %}

{% block head %}
    {% if name %}
    {% elif available_schema %}
    {% elif available_cred_def %}
    {% endif %}
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<div class="row mx-auto">
    <div class="col-md-12">
        <div class="card shadow mb-6">
            <div class="card-header">
                <h1 class="card-title">Connect with your Doctor</h1>
            </div>
            <div class="card-body">    
                <div class="row d-flex justify-content-center align-items-center" style="margin-bottom: 1rem;">

                    <img id='barcode'
                        src={{ qr_code }}
                        alt=""
                        title="Invitation Link"
                        width="350"
                        height="350"
                        class="img-thumbnail mx-auto d-block"
                    /><br>
                </div>
                <a href="{% url 'doctor-patients' %}" class="button btn btn-primary btn-block mt-1 ">Patients Overview</a>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
