{% extends 'base.html' %}

{% block head %}
    {% if name %}
    {% elif available_schema %}
    {% elif available_cred_def %}
    {% endif %}
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="card shadow mb-8">
        <div class="card-body">
            <h1 class="card-title">Connect with your Doctor and show your Insurance ID<br></h1>


            <img class="img-thumbnail mx-auto d-block" src={{ qr_code }} title="Invitation Link">
            <br>
                        <h5 style="text-align: center">Please scan the QR-Code to connect with your doctor:</h5>
            <h5 style="text-align: center">(if you have not done so previously)</h5><br>
            <a href="{% url 'doctor-patients' %}" class="btn btn-primary btn-block">Next step</a>
        </div>
    </div>
</div>
{% endblock %}
