{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}
{% load render_table from django_tables2 %}

{% block body %}
    <div class="col-md-12">
        <div class="card shadow mb-12">
            <div class="card-body">
                <h1 class="card-title">ePrescriptions Overview<br></h5>
                {% if len == 0 %}
                    <p>There are <span style="color: #ff0000">{{ len }}</span> ePrescriptions that can be revoked.</p>
                {% else %}
                    {% render_table table %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}