{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

{% block body %}

<!-- Basic Card Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">CNS</h6>
  </div>
  <div class="card-body">
    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
    <a target="_blank" href="{% url 'cns-connection' %}" class="btn btn-primary">Go</a>
  </div>
</div>
{% endblock %}
<!--{% include 'connection.html' %}-->
{% include 'cns/navbar_side' %}
{% include 'cns/revoke_cred.html' %}
{% block extracontent %}



{% endblock %}
{% endblock %}
