{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<h1>Available ePrescription Credential Definitions:</h1><br>
{% if available_schema %}
<h5 style="color: darkred">{{ available_schema }}</h5><br>
<button style="width: 700px" class="button" onclick="window.location.href='{% url 'doctor-schema' %}';">Go
    Back</button><br><br>
{% elif created_cred_def_rev %}
<h5>The ePrescription credential definition <strong>{{ created_cred_def_rev }}</strong> is available in your wallet.
</h5>
<h5 style="color: mediumseagreen"> It is not necessary to publish a new ePrescription credential definition.</h5><br>
<button class="button" style="pointer-events: none; background-color: slategray; color: #c0c7cd">Publish New Credential
    Definition</button><br>
<button style="width: 700px" class="button"
    onclick="window.location.href='{% url 'doctor-rev_reg' %}';">Continue</button><br><br>
{% else %}
<h5 style="color: darkred">There are no suitable ePrescription credential definitions in your wallet. Please publish a
    new one.</h5><br>
<form method="post">{% csrf_token %}
    <button style="width: 700px" class="button">Publish New ePrescription Credential Definition</button><br>
</form>
<button style="width: 700px; pointer-events: none; background-color: slategray; color: #c0c7cd"
    class="button">Continue</button><br><br>
{% endif %}
{% endblock %}