{% extends 'base.html' %}

{% block head %}{% load static %}
{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<div class="container-xl">
    <h1 class="card-title">Pharmarcy Application<br></h1>
</div>


<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Present ePrescription</h6>
      </div>
      <div class="card-body d-flex flex-column">
        Click here to inivite your customer to present his ePrescription.
        <a href="{% url 'pharmacy-connectionless' %}" class="btn btn-block btn-primary mt-auto">Go</a>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Present ePrescription- connectionbased</h6>
      </div>
      <div class="card-body d-flex flex-column">
          Click here to invite your customer connect with your pharmarcy. In addition to submitting the ePrescription, this also allows you to issue an invoice. 
        <a href="{% url 'pharmacy-connection' %}" class="btn mt-3 btn-block btn-primary">Go</a>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">e-Prescription Overview</h6>
      </div>
      <div class="card-body d-flex flex-column">
        This function gives you an overview over the presented e-Prescriptions.
        <a href="{% url 'pharmacy-prescription-table' %}" class="btn btn-block btn-primary mt-auto">Go</a>
      </div>
    </div>
  </div>
</div>

    {% block extracontent %}{% endblock %}
{% endblock %}