{% extends 'base.html' %}

{% block head %}{% load static %}
{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<div class="card-header">
    <h1 class="card-title">Pharmarcy Application<br></h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Present ePrescription</h6>
      </div>
      <div class="card-body">
        Click here to present and redeem your ePrescription at the pharmacy.
        <br></br>
        <a href="{% url 'pharmacy-connectionless' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Present ePrescription- connectionbased</h6>
      </div>
      <div class="card-body">
        Click here to present and redeem your ePrescription at the pharmacy.
        <br></br>
        <a href="{% url 'pharmacy-connection' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Overview of shown Prescriptions</h6>
      </div>
      <div class="card-body">
        Click here to see the presented ePrescriptions.
        <br></br></br>
        <a href="{% url 'pharmacy-prescription-table' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
</div>
    {% block extracontent %}{% endblock %}
{% endblock %}