{% extends 'pharmacy/base_pharmacy.html' %}

{% block head %}{% endblock %}

{% block content %}
    <br>
    <table>
        <tr>
            <td><h1 style="margin-right: 100px">Prescription for {{ number }} items of {{ pharmaceutical }} spent!</h1></td>
            <!--<form method="post">{% csrf_token %}
                <td><button class="button" style="width: 370px" onclick="window.location.href='{% url 'pharmacy-connection' %}';">Log out</button><br><br></td>
            </form>-->
            <td></td>
            <td><button class="button" style="width: 370px" onclick="window.location.href='{% url 'doctor-revoke_cred' %}';">Continue</button><br><br></td>
        </tr>
    </table><br><br><br>
{% endblock %}