{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<div class="row mx-auto">
    <div class="col-md-12">
        <div class="card shadow mb-6">
            <div class="card-header">
                <h1 class="card-title">Show your ePrecription</h1>
            </div>
            <div class="card-body mx-auto">    
                <img id='barcode'
                        src={{ qr_code }}
                        alt=""
                        title="Invitation Link"
                        width="300"
                        height="300"
                        class="center"
                />
                <br></br>
                <p class="text-center">Please scan the  QR-Code</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
