{% extends 'pharmacy/base_work.html' %}

{% block head %}
    {% if name %}
    {% elif available_schema %}
    {% elif available_cred_def %}
    {% else %}
        <meta http-equiv="refresh" content="1;URL={% url 'pharmacy-connection_result' %}">
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        .button2 {
            background-color: slategray;
            color: white;
        }

        .button2:hover{
            background-color: lightgray;
            color: black;
        }

        form {
            text-align: center;
        }

        input[type=submit]{
            border: none;
            color: white;
            width: 300px;
            height: 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        h5 {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <form>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input class="button2" type="submit" value="Log in">
    </form>
    <br>
    {% if available_schema %}
        <button class="button" style="pointer-events: none; background-color: slategray; color: #c0c7cd; margin-left: auto; margin-right: auto; width: 300px">Log in with SSI</button><br>
        <h3 style="color: darkred; text-align: center">You can't use 'Log in with SSI' right now.</h3><br>
        <h5 style="color: darkred">{{ available_schema }}</h5><br>
        <button class="button" style="margin-left: auto; margin-right: auto; width: 300px" onclick="window.location.href='{% url 'doctor-schema' %}';">Go Back</button><br><br>
    {% elif available_cred_def %}
        <button class="button" style="pointer-events: none; background-color: slategray; color: #c0c7cd; margin-left: auto; margin-right: auto; width: 300px">Log in with SSI</button><br>
        <h3 style="color: darkred; text-align: center">You can't use 'Log in with SSI' right now.</h3><br>
        <h5 style="color: darkred">{{ available_cred_def }}</h5><br>
        <button class="button" style="margin-left: auto; margin-right: auto; width: 300px" onclick="window.location.href='{% url 'doctor-cred_def' %}';">Go Back</button><br><br>
    {% else %}
        {% if name %}
            <button class="button" style="margin-left: auto; margin-right: auto; width: 300px" onclick="window.location.href='{% url 'pharmacy-connection_loading' %}';">Log in as - {{ name }} -</button><br><br><br>
            <h5>If you are not {{ name }}, please click this button to generate a new invitation:</h5><br>
            <form method="post">{% csrf_token %}
                <button class="button" name="submit_new_invitation" style="margin-left: auto; margin-right: auto; width: 300px" onclick="window.location.href='{% url 'pharmacy-connection_loading' %}';">Generate Invitation</button>
            </form>
        {% else %}
            <button class="button" style="pointer-events: none; margin-left: auto; margin-right: auto; width: 300px">Log in with SSI</button><br>
            <h5>Please scan the following QR-Code to establish a connection:</h5><br>
            <img id='barcode'
                 src={{ qr_code }}
                 alt=""
                 title="Invitation Link"
                 width="300"
                 height="300"
                 class="center"
            /><br>
            <h5>(Afterwards you will automatically receive a proof request on your smartphone)</h5>
        {% endif %}
        {% if connection %}
            <p>Connection established</p>
        {% endif %}
    {% endif %}
    <br><br><br><br>
{% endblock %}