{% extends 'pharmacy/base_pharmacy.html' %}

{% block head %}
    {% if name %}
    {% elif available_schema %}
    {% elif available_cred_def %}
    {% else %}
        <meta http-equiv="refresh" content="1;URL={% url 'pharmacy-connection_result' %}" xmlns:width="http://www.w3.org/1999/xhtml">
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        .button2 {
            background-color: slategray;
            color: white;
        }

        .button2:hover{
            background-color: lightgray;
            color: black;
        }

        form {
            text-align: center;
        }

        input[type=submit]{
            border: none;
            color: white;
            width: 300px;
            height: 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        h5 {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    {% if available_schema %}
        <button class="button" style="pointer-events: none; background-color: slategray; color: #c0c7cd; margin-left: auto; margin-right: auto; width: 300px">Spend ePrescription</button><br>
        <h3 style="color: darkred; text-align: center">You can't use the functionality yet.</h3><br>
        <h5 style="color: darkred">{{ available_schema }}</h5><br>
        <button class="button" style="margin-left: auto; margin-right: auto; width: 300px" onclick="window.location.href='{% url 'doctor-schema' %}';">Go Back</button><br><br>
    {% elif available_cred_def %}
        <button class="button" style="pointer-events: none; background-color: slategray; color: #c0c7cd; margin-left: auto; margin-right: auto; width: 300px">Spend ePrescription</button><br>
        <h3 style="color: darkred; text-align: center">You can't use the functionality yet.</h3><br>
        <h5 style="color: darkred">{{ available_cred_def }}</h5><br>
        <button class="button" style="margin-left: auto; margin-right: auto; width: 300px" onclick="window.location.href='{% url 'doctor-cred_def' %}';">Go Back</button><br><br>
    {% else %}
        <button class="button" style="pointer-events: none; margin-left: auto; margin-right: auto; width: 300px">Spend ePrescription</button><br>
        <h5>Please klick on the following link to show and spend your ePrescription:</h5><br>
        <a href="{{ invitation }}/">{{ invitation }}</a>
        <h5>(Afterwards you will automatically receive a proof request on your smartphone)</h5>
    {% endif %}
    <br>
    <button class="button" style="margin-left: auto; margin-right: auto; width: 300px"; onclick="window.location.href='{% url 'doctor-revoke_cred' %}'">Continue to doctor-rev</button><br>
    <br><br><br><br>
{% endblock %}