{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<div class="row mx-auto">
    <div class="col-md-12">
        <div class="card shadow mb-6">
            <div class="card-header">
                <h1 class="card-title">Show your ePrecription</h1>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-center align-items-center" style="margin-bottom: 1rem;">
    
                <img id='barcode'
                        src={{ qr_code }}
                        alt=""
                        title="Invitation Link"
                        width="300"
                        height="300"
                        class="img-thumbnail mx-auto d-block"
                /></br>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <p class="text-center">Please scan the  QR-Code</p>
                </div>

                <a href="{% url 'pharmacy-prescription-table' %}" class="button btn btn-primary btn-block mt-1 ">Shown Prescriptions</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
