{% extends 'base.html' %}
{% block style %}

{% endblock %}
{% load render_table from django_tables2 %}


{% block body %}
<div class="col-md-12">
    <div class="card shadow mb-12">
        <div class="card-header">
            <h1 class="card-title">Shown ePrescriptions<br></h5>
        </div>
        <div class="card-body">
            {% render_table table %}
            <div class="row">
                <div class="col-md-1">
                    <small id="emailHelp" class="form-text text-muted"><b>Annotation:</b></small>
                </div>
                <div class="col-md-11">
                    <small class="form-text text-muted">
                    Red highlighted ePrecription: Can't be redeemed</br>
                    Green highlighted epPrescription: Successfully redeemed at the pharmarcy </br> 
                    Else: ePrecription can be redeemed.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script
{% endblock script %}