{% extends 'base.html' %}
{% load static %}

{% block title %}ePrescriptions{% endblock title %}

{% block styles %}

{% endblock styles%}

{% block heading %}Welcome at the machine room{% endblock heading %}

{% block body %}

<div class="row">

  

  <div class="col-lg-3">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Initialization of the demo</h6>
        <span><img src="/static/img/health-insurance.png" height="100px" width="100px" alt="CNS"></span>
      </div>
      <div class="card-body">
        This function creates the schemas, definitions and adds some demo data.
        <br>
        <a href="{% url 'insurance-home' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Doctor</h6>
        <span><img src="/static/img/doctor-svgrepo-com.svg" height="100px" width="100px" alt="CNS"></span>
      </div>
      <div class="card-body">
        This functions provides the option to reset the agents.
        <br></br>
        <a href="{% url 'manage_agent-home' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>

  </div>

  <div class="col-lg-3">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Pharmacy</h6>
        <span><img src="/static/img/pharmacy-svgrepo-com.svg" height="100px" width="100px" alt="CNS"></span>
      </div>
      <div class="card-body">
        This module provides opportunities for employees of the <b>pharmacy</b> to handle privacy-preserving and user-friendly electronic prescriptions.
        <br></br>
        <a href="{% url 'pharmacy-home' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>


{% endblock body %}
