{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>


  <ul class="navbar-nav ml-auto">



    <div class="topbar-divider d-none d-sm-block">
    </div>
    <!-- Nav Item - User Information -->
    <a class="text-decoration-none" href="{% url 'start-home' %}">
    <li class="nav-item dropdown no-arrow">
        <span class="mr-2  d-lg-inline text-gray-800">ePrescription Management System</span>
        <span class="logo"><img src="{% static 'img/logo.png' %}"
            height="50px" width="50px" alt="Something"></span>
      </a>
      {% comment %} <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div> {% endcomment %}
    </li>

  </ul>


</nav>