<ul class="navbar-nav nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'start-home' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
  </a>
  {% if 'doctor' in request.path %}
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'start-home' %}">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'insurance-home' %}">
        <i class="fas fa-file-invoice-dollar"></i>
        <span>Insurance-App</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-home' %}">
        <i class="fas fa-user-md"></i>
        <span>Doctor-App</span></a>
    </li>
      <!-- Nav Item - Doctor -->
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-connection' %}">
        <i class="fas fa-wifi"></i>
        <span>Create Connection</span></a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-issue_cred' %}">
        <i class="fas fa-user-md"></i>
        <span>Issue Credential</span></a>
    </li>
  
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-revoke_cred' %}">
        <i class="fas fa-window-close"></i>
        <span>Revoke Credential</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-home' %}">
        <i class="fas fa-prescription-bottle-alt"></i>
        <span>Pharmacy-App</span></a>
    </li>
  {% elif 'pharmacy' in request.path %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'start-home' %}">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'insurance-home' %}">
        <i class="fas fa-file-invoice-dollar"></i>
        <span>Insurance-App</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-home' %}">
        <i class="fas fa-user-md"></i>
        <span>Doctor-App</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-home' %}">
        <i class="fas fa-prescription-bottle-alt"></i>
        <span>Pharmacy-App</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link"  href="{% url 'pharmacy-connectionless' %}">
        <i class="fas fa-address-card"></i>
        <span>Request Proof</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-prescription-table' %}">
        <i class="fas fa-list"></i>
        <span>Overview</span></a>
    </li>
    {% comment %} <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-connection_confirmation' %}">
<i class="fas fa-prescription-bottle-alt"></i>
        <span>Connection_based</span></a>
    </li> {% endcomment %}


  {% elif 'insurance' in request.path %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'start-home' %}">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'insurance-home' %}">
        <i class="fas fa-file-invoice-dollar"></i>
        <span>Insurance-App</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link"  href="{% url 'insurance-connection' %}">
        <i class="fas fa-wifi"></i>
        <span>Create Connection</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'insurance-connection' %}">
        <i class="fas fa-address-card"></i>
        <span>Request Proof</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-home' %}">
        <i class="fas fa-user-md"></i>
        <span>Doctor-App</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-home' %}">
        <i class="fas fa-prescription-bottle-alt"></i>
        <span>Pharmacy-App</span></a>
    </li>
    {% comment %} <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-connection_confirmation' %}">
<i class="fas fa-prescription-bottle-alt"></i>
        <span>Connection_based</span></a>
    </li> {% endcomment %}

  {% else %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'start-home' %}">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'insurance-home' %}">
        <i class="fas fa-file-invoice-dollar"></i>
        <span>Insurance-App</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctor-home' %}">
        <i class="fas fa-user-md"></i>
        <span>Doctor-App</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pharmacy-home' %}">
        <i class="fas fa-prescription-bottle-alt"></i>
        <span>Pharmacy-App</span></a>
    </li>
  {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
