{% extends 'hr/base_hr.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block extracontent %}
    <h1>Revoke Credential</h1><br>
    {% if len == 1 %}
        <p>There is <span style="color: #ff0000">{{ len }}</span> credential that can be revoked.</p>
        <p>Click on the credential to get more information.</p>
    {% elif len == 0 %}
        <p>There are <span style="color: #ff0000">{{ len }}</span> credentials that can be revoked.</p>
    {% else %}
        <p>There are <span style="color: #ff0000">{{ len }}</span> credentials that can be revoked.</p>
        <p>Click on the corresponding credential to get more information.</p>
    {% endif %}
    <br>
    <table>
    {% for instance in object_list %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>-</td>
            <td><a href="{{ instance.get_absolute_url }}">{{ instance.fullname }}</a>,</td>
            <td>{{ instance.division }},</td>
            <td>{{ instance.jobtitle }},</td>
            <td>issued on: {{ instance.issued }}</td>
        </tr>
    {% endfor %}
    </table><br><br>
    <button class="button" onclick="window.location.href='{% url 'work-login' %}';">Continue</button><br><br>
{% endblock %}