{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

{% block body %}
<div class="card-header border-0">
    <h1 class="card-title">Insurance Application<br></h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Connection</h6>
      </div>
      <div class="card-body">
        Invite the customer to establish a connection with the insurance's agent.
        </br></br>
        <a href="{% url 'insurance-connection' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Credential</h6>
      </div>
      <div class="card-body">
        Issue an user-friendly and privacy-preserving insurance ID to your costumer.
        </br></br>
        <a href="{% url 'insurance-issue_cred' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Request Proof</h6>
      </div>
      <div class="card-body">
        Give your customer the opportunity to redeem a user-friendly and privacy-preserving invoice.
        </br></br>
        <a href="{% url 'insurance-login' %}" class="btn btn-primary btn-block">Go</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extracontent %}



{% endblock %}
{% endblock %}