{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

{% block body %}
<div class="container-fluid">
  <h1 class="card-title">Insurance Application<br></h1>
</div>
<div class="container-fluid">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Connection</h6>
      </div>
      <div class="card-body d-flex flex-column">
        Invite your customer to establish a connection with the insurance's agent.
        </br></br>
        <a href="{% url 'insurance-connection' %}" class="btn btn-block btn-primary mt-auto">Go</a>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Issue Insurance ID</h6>
      </div>
      <div class="card-body d-flex flex-column">
        Issue an user-friendly and privacy-preserving insurance ID to your costumer.
        <a href="{% url 'insurance-issue_cred' %}" class="btn btn-block btn-primary mt-auto">Go</a>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reveive Invoice </h6>
      </div>
      <div class="card-body d-flex flex-column">
        Give your customer the opportunity to submit an user-friendly and privacy-preserving invoice.
        <a href="{% url 'insurance-login' %}" class="btn mt-3 btn-block btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extracontent %}



{% endblock %}
{% endblock %}