{% extends 'base.html' %}

{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    function generateBarCode() {
        var nric = $('#text').val();
        var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=600x600';
        $('#barcode').attr('src', url);
    }
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<div class="card shadow mb-6 mx-auto">
    <div class="card-header">
        <h1 class="card-title">Connect with your Insurance</h1>
    </div>
    <div class="card-body">    
        <div class="row d-flex justify-content-center">
            <form action="." method="post">{% csrf_token %}
                <label for='{{ form.alias }}' style="text-align: center; font-size: larger">Please fill out this field to generate a
                    new connection:</label><br>
                {{ form.alias }}<br><br>
                <button class="button btn btn-primary float-right" type="submit" value="save">Generate new QR Code</button><br>
            </form>
        </div>
    </div>
    {% if qr_code %}
    <div class="card-body justify-content-center">  
        <div class="row">
            <div class="col-md text-center">
                <h5>Please scan the following QR-Code to connect with your doctor:</h5>
                <h5>(if you have not done so previously)</h5><br>
                <img id='barcode' src={{ qr_code }} title="Invitation Link" width="400" height="400" class="img-thumbnail mx-auto d-block" /><br>
            </div>
        </div>
        <div class="row">
                    <div class="col-md">

            <p class="text-center">Please scan the  QR-Code and and connect with your insurance</br>
        </div>
        </div>
        <div class="row justify-content-end">
            <button class="btn btn-primary" onclick="window.location.href='{% url 'insurance-issue_cred' %}'">Continue</button><br>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}