{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<div class="col-md-8 mx-auto">
    <div class="card shadow mb-12">
        <div class="card-header">
            <h1 class="card-title">Available Insurance Credential Definitions<br></h1>
        </div>
        <div class="card-body">
            {% if available_schema %}
                <h6 style="color: darkred">{{ available_schema }}</h6><br>
                <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'doctor-schema' %}';">Go
                Back</button><br><br>
            {% elif created_cred_def_rev %}
                <h6>The Insurance credential definition <strong>{{ created_cred_def_rev }}</strong> is available in your wallet.
                </h6>
                <h6 style="color: mediumseagreen"> It is not necessary to publish a new Insurance credential definition.</h6><br>
                 <button class="btn btn-primary btn-primary" onclick="window.location.href='{% url 'insurance-rev_reg' %}';">Continue</button>
            {% else %}
                <h6 style="color: darkred">There are no suitable Insurance credential definitions in your wallet. Please publish a
                    new one.</h6><br>
                <form method="post">{% csrf_token %}
                    <button class="btn btn-primary btn-block">Publish New Insurance Credential Definition</button><br>
                </form>
                <button class="btn btn-secondary btn-block" onclick="window.location.href='{% url 'insurance-rev_reg' %}';">Continue</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

