{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<div class="col-md-8 mx-auto">
    <div class="card shadow mb-12">
        <div class="card-header">
            <h1 class="card-title">Available Insurance Schemas<br></h1>
        </div>
        <div class="card-body">
            {% if created_schema %}
                The Insurance schema <strong>{{ created_schema }}</strong> is available in your wallet.<br><br>
                It has the following attributes:
                <br>
                {% for item in attributes %}
                    {{ forloop.counter|stringformat:"02d" }} - <strong>{{ item.attribute }}</strong> - {{ item.comment }}</br>
                {% endfor %}<br>
                <h6 style="color: mediumseagreen"> It is not necessary to publish a new schema</h5><br>
                <a href="{% url 'insurance-cred_def' %}" class="btn btn-primary btn-block"><i class="fa fa-envelope-o"></i> Continue</a>
            {% else %}
                <h6 style="color: darkred"> There are no suitable Insurance schemas in your wallet
                    <!-- or on the ledger-->. Please publish a new one.</h6><br>
                <form method="post">{% csrf_token %}
                    <button class="btn btn-block btn-primary">Publish New Insurance Schema</button><br>
                </form>
                <a href="{% url 'insurance-cred_def' %}" class="btn btn-block btn-secondary"><i class="fa fa-envelope-o"></i>Continue</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}